html {
    font-size: 62.5%;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    background-color: rgb(151, 151, 151);
    background-size: 100% 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}